language: go

os:
  - linux
  - osx

go:
  # - 1.7.x
  # - 1.8.x
  # - 1.9.x
  # - 1.10.x
  # - 1.11.x
  # - 1.12.x
  # - 1.13.x
  # - 1.14.x
  # - 1.15.x
  # - 1.16.x
  - 1.17.x
  # - tip

addons:
  apt:
    packages:
      - libx11-dev xorg-dev
      - libxtst-dev libpng++-dev
      - xcb libxcb-xkb-dev x11-xkb-utils libx11-xcb-dev libxkbcommon-x11-dev
      #  - libusb-dev
      - libxkbcommon-dev
      - xsel
      - xclip
      #
      - xvfb
# script:
#  - sudo apt update
#  - sudo apt install libx11-dev
#  - sudo apt install xorg-dev
#  - sudo apt install libxtst-dev libpng++-dev
#  # Event:
#  - sudo apt install xcb libxcb-xkb-dev x11-xkb-utils libx11-xcb-dev libxkbcommon-x11-dev
#  - sudo apt install libxkbcommon-dev
#  # Clipboard:
#  - sudo apt install xsel
#  - sudo apt install xclip
#  - go test -v .

before_install:
  - export PATH=$PATH:$HOME/gopath/bin
  - go get -v -t -d ./...

script:
  - if [ "${TRAVIS_OS_NAME}" = "linux" ]; then xvfb-run go test -v ./...; fi
  - if [ "${TRAVIS_OS_NAME}" = "osx" ]; then go test -v ./...; fi
